* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
}

h1 {
	font-size: 50px;
}

h4 {
	font-size: 30px;
}

header {
	height: 150px;
	text-align: left;
	line-height: 150px;
	background-color: #bdbbbb;
}
.Jan-header {
	font-size: 45px;
	padding-left: 150px;
	text-shadow: 0 0 3px #c02a9b;
}

.img-main {
	margin: 40px;
	height: 700px;
	width: 700px;
}

.Jan-photo {
	padding-top: 350px;
}

nav {
	height: 60px;
	background-color: #e4e4e4;
	text-align: center;
	line-height: 60px;
	font-size: 0px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

nav li {
	display: inline-block;
}

nav li a {
	padding: 0 35px;
	color: #302e2e;
	text-decoration: none;
	font-weight: bold;
	font-size: 21px;
	transition: 0.3s;
}

nav li a:hover {
	color: rgb(41, 9, 221);
}

.strona-color {
	color: rgb(155, 53, 158);
}

footer {
	height: 70px;
	line-height: 70px;
	background-color: #bdbbbb;
	color: #302e2e;
	text-align: center;
	font-size: 18px;
	clear: both;
}

.icon-box {
	margin-left: 6px;
}

.icon-box a {
	margin: 0 5px;
	color: #302e2e;
	font-size: 24px;
}
.icon-box a:hover {
	color: rgb(41, 9, 221);
}

article,
section {
	display: block;
	margin: 0px 120px 0px 120px;
	font-size: 20px;
}

article {
	position: relative;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	pad: 150px 120px;
	height: 200px;
}

.article-element {
	padding: 30px;
	width: 50%;
	float: left;
}

img {
	height: 300px;
	width: 300px;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	height: 100px;
	width: 100px;
}
table,
td,
th {
	border: 1px solid black;
}
